// main: ../style.less


.service{
    display: flex;
    height: 66.5rem;
    background-image: url(/src/img/service-img-bg.png);
    
}

.service-gallery{
    width: 50%;
    background-image: url(/src/img/service-img-grave.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.service-text{
    width: 50%;
    display: flex;
    background-position: right bottom;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}   

.service-text-items{
    width: 55%;
    height: fit-content;
    min-width: 45rem;
    margin: 5rem 19rem;
    z-index: 1;

    h2{
        width: 150%;
        margin-top: 0rem;
    }
}
