// main: ../style.less


.specifies{
    display: grid;
    grid-template-columns: 4fr 3fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 19rem;
    padding-right: 19rem;
    height: 82rem;
    flex-wrap: wrap;
    background-image: url(/src/img/specifies-img-bg.jpg);
    background-size: cover;
    justify-items: start;
    align-items: center;
   
}

.specifies-img{
    width: 100%;
    height: 78%;
    background-image: url(/src/img/specifies-img-grave.png);
    background-repeat: no-repeat;
    background-position: top;
    min-width: 47rem;
    align-content: space-around;
}

.specifies-content{
    width: 41.5rem;
    height: 64rem;
}

.warranty{
    display: flex;
    width: 40rem;
    height: 10rem;
    border: 1px dashed #B9836D;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 11.5rem;

    a{
        color: #FFF;
    }
}

.warranty p{
    line-height: 2.5rem;
}

.warranty span{
    font-weight: 400;
    text-decoration: underline;
    text-underline-position: under;
}


.specifies-list{
    display: flex;
    height: 53rem;
    align-self: center;
    text-align: center;
    width: 100%;
    min-width: 10rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    ul{
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0rem;
        flex-wrap: wrap;
        gap: 12rem;
        margin-bottom: 5rem;
        flex-direction: column;
        align-items: center;
    }
    li{
        list-style: none;
        line-height: 2rem;
        
    }
}
