.about.wow
    .wrapper
        .about-wrapper
            .about-top
                h1 
                    span.green о нас
                    br
                    span.blue и шхерах
                
            .about-text
                .about-text-top
                    h3
                        span.blue Наши капитаны преодолели сотни километров Ладожских шхер, знают каждый уголок,а так же где живут нерпы!
                    p.medium Удивительная красота северной природы, буйные реки с крутыми порогами, девственная чистота лесов, потрясающие  закаты и невероятное Ладожское озеро издавна привлекают в Карелию туристов и путешественников. 
                        span.orange Кстати, мы проводим экскурсии!
            .about-img

            a(href="tel:+79211234567")#phone +7 (921) 123-45-67