.wrapper
    .about-us
        .about-us-gallery
        .about-us-text
            .about-us-text-items
                h2#lined О НАС
                p Мы фирма производящая памятники и надгробия на заказ в г. Сортавала, выполянем работы любой сложности.
                p В производстве используем гранит и мрамор поставляемые компанией #[strong GLOBAL STONE] из Карелии, Урала, Китая и Индии