.wrapper
    .banner
        .banner-text
            h1 ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ В СОРТАВАЛА
            p Изготовим памятники любой сложности! Приобретайте готовые решения из каталога или закажите свой дизайн памятника!
            .underline
            .btn
                a(href="#") Перейти в каталог 