.banner-mid.wow
    .wrapper
        .banner-bg
            h1
                span.white организуй себе 
                    br
                    |заслуженный
                    br
                    | отдых
            p.medium.wow.rubberBand
                span.white Эксклюзивные туры и экскурсии, которые не проводят обычные туроператоры. Отправляйтесь в путешествие вместе с нами!
            .btn.form__btn
                    a(href="№") Забронировать 