.book-now.wow
    .wrapper
        .book-now-wrapper
            h2 Забронируй
                br
                span.green путешествие в Карелии
                br
                | прямо сейчас!
            p.medium.desktop Ладожские шхеры, остров Валаам, Водопады, Мраморный каньон в Рускеала или индивидуальный тур, выбор за вами.
            .form-book-now-wrapper
                form.__form_book-now(action="post")
                    input(type="text" placeholder="ФИО")
                    input(type="tel" placeholder="Номер телефона")
                    .select-wrapper#divadd(tabindex = "0")
                        select#book-now
                            option.opt-dis(value ="1" part="tab" selected disabled hidden) Выбор услуги
                                each val in ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
                                    option= val
                    p.book-now-add#addlink + еще услуга
                        span.orange 
                    input#book-now-date(type='date')
                    .btn.form__btn
                        a(href="№") Забронировать 
                    a(href="#") 
                        span.green.link Политика конфеденциальности  

