.booking.wow
    .wrapper
        .book-me
            form(action="post") 
                .book-item#trees
                    .select-wrapper
                        select#tour
                            each val in ["Ладожские шхеры", "Остров Валаам", "Ладожские шхеры и Валаам", "Индивидуальный тур"]
                                option= val
                    label(for="#tour") Выберите тур
                    p Путешествие на остров Валаам, 
                        br
                        | 3 часа прогулок.

                .book-item
                    .select-wrapper
                        select#tour
                            each val in ["1 человек", "2 человека", "3 человека", "4 человека", "5 человека", "6 человек", "7 человек", "8 человек", "9 человек", "10 человек"]
                                option= val
                    label(for="#tour") Кол-во человек
                    p Катер вмещает до 10 человек, 
                        br 
                        | возможна индивидуальная бронь

                .book-date
                    .date-wrapper
                        input#date(type='date', name='book-day')
                        label(for="#date") Дата и время 
                    input(type='radio', name='book-time', value='10:00')#time10
                    input(type='radio', name='book-time', value='12:00', checked)#time12
                    input(type='radio', name='book-time', value='15:00')#time15
                    input(type='radio', name='book-time', value='17:00')#time17
                    input(type='radio', name='book-time', value='19:00')#time19
                    input(type='radio', name='book-time', value='21:00')#time21
                .book-contact
                    input(type="text", name='book-name')#name
                    label(for="#name") Имя
                .book-contact
                    input(class="tel", type="tel", name='book-tel')#tel
                    label(for="#tel") Телефон
                span.grey.desktop 
                    a(href="#") Оставляя заявку вы соглашаетесь
                        br
                        | с политикой конфидециальности
                button(class="btn form__btn" type="submit" value="submit")
                    p Забронировать 

                    
