.wrapper
    .catalog
        h2#lined КАТАЛОГ
        .btn-secondary
            a(href="") Смотреть все
        .catalog-items
            .catalog-item
                .catalog-item-img
                    img(src="/src/img/catalog-item-img-1.png", alt="")
                p Комплект Карелия, 70-40-80, гранит
                span 13 340 Р 
                .btn-secondary
                    a(href="") Перейти в каталог
            .catalog-item
                .catalog-item-img
                    img(src="/src/img/catalog-item-img-1.png", alt="")
                p Комплект Карелия, 70-40-80, гранит
                span 13 340 Р 
                .btn-secondary
                    a(href="") Перейти в каталог
            .catalog-item
                .catalog-item-img
                    img(src="/src/img/catalog-item-img-1.png", alt="")
                p Комплект Карелия, 70-40-80, гранит
                span 13 340 Р 
                .btn-secondary
                    a(href="") Перейти в каталог
            .catalog-item
                .catalog-item-img
                    img(src="/src/img/catalog-item-img-1.png", alt="")
                p Комплект Карелия, 70-40-80, гранит
                span 13 340 Р 
                .btn-secondary
                    a(href="") Перейти в каталог
                    
