.contacts.wow
    .contacts_top_wrapper
        h2 
            span.orange контакты
    .iframe-wrapper
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abfb64ed8dada6478f3fbb71eb6ba4ad3d82c6d1bfa59b9ad474b0a8eb7f9c677&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true")
        .contacts-wrapper
                .contacts-info
                    .contacts-info-adress
                        span.orange Адрес:
                        br
                        p
                            span.bold г. Сортавала, Пристань
                    .contacts-info-tel
                        span.orange Телефон:
                        br
                        p
                            a(href="tel:+7 999 999 99 99").bold +7 (999) 999-99-99
                    .contacts-info-socials
                        span.orange Наши соц.сети:
                        .contacts-info-logo
                            .tg-logo
                                a(href="t.me/divoladoga")
                            p
                                span.bold 
                                    a(href="https://t.me/divoladoga") t.me/divoladoga
                        .contacts-info-logo
                            .vk-logo
                                a(href="vk.ru/divoladoga")
                            p
                                span.bold 
                                    a(href="https://www.vk.ru/divoladoga") vk.ru/divoladoga
                    .contacts-info-email
                        span.orange Почта:
                        br
                        p
                            a(href="mail:divoladoga@yandex.ru").bold divoladoga@yandex.ru
                

