.wrapper
    .examples
        .examples-gallery
        .examples-text
            .examples-text-items
                h2#lined НАШИ РАБОТЫ
                p Заказывайте свой дизайн памятника или выбирайте из представленных, мы вложим все силы, чтобы вы остались довольны.
            