.feedback.wow
    .wrapper
        .text_vector
                h2
                    span.orange отзывы
                        br
                        | о нас
                .vector.orange
                    p Только честные отзывы наших клиентов!
                        br
                        | Мы заботимся о качестве предоставляемых нами услуг.
        .swiper-overlay
            .swiper-arrows-wrapper.overlay-right
                .swiper-feedback
                    .swiper-wrapper
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva")  vk.com/vikaiva
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva")  vk.com/vikaiva
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva") vk.com/vikaiva
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva")  vk.com/vikaiva
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva")  vk.com/vikaiva
                        .swiper-slide                 
                            .feedback-item
                                .feedback-item-img.one
                                .feedback-item-info
                                    span.feedback-name Виктория Иванова
                                    p.middle Карелия – лучшее что со мной случилось за последний год! Спасибо диволадоге за то, что организовали шикарный отдых!
                                    .feedback-socials
                                        .vk-logo
                                            a(href="https://www.vk.com/vikaiva") 
                                        span.feedback-socials-text 
                                            a(href="https://www.vk.com/vikaiva") vk.com/vikaiva
                .swiper-button-prev#feedback
                .swiper-button-next#feedback                       