.footer
    .wrapper 
        .footer-wrapper
            .footer-logo
                a(href="#")
            .footer-info
                span.white г. Сортавала, Пристань
                span.white
                    a(href="tel:+79999999999") +7 (999) 999 99 99
                span.orange
                    a(href="mail:divoladoga@yandex.ru") divoladoga@yandex.ru 
                span.grey 
                    a(href="#") Лицензия на перевозки
            .footer-socials
                .footer-socials-logo.tg-logo-orange
                    a(href="t.me/divoladoga") 
                .footer-socials-logo.vk-logo-orange
                    a(href="vk.ru/divoladoga")    
            .footer-nav-bar
                 nav
                    ul.nav
                        li.nav-item
                            a(href="").nav-link Туры
                        li.nav-item
                            a(href="").nav-link Маршруты
                        li.nav-item
                            a(href="").nav-link Услуги
                        li.nav-item 
                            a(href="").nav-link Дома
            .footer-studio
                span.white created in
                .footer-studio-logo
                    a(href="https://www.minto.ru/") 