footer
    .wrapper
        .footer
            .footer-adress
                .footer-img
                p Респ.Карелия, г. Сортавала ул. Ладожская, д 24
            p#question Есть вопросы? Оставьте заявку и мы перезвоним!
            a(href="tel:+7 999 345-55-55") +7 (999) 345-55-55
            form(role='form' method='GET' action='#')
                input#phone.form-control(type='tel', placeholder='phone' name='phone')
                button.btn(type="submit", name="asdf") Оставить заявку
            p pamyatniksortavala@mail.ru
            .footer-phone
                a(href="#") Политика конфиденциальности
            p All rights reserved. PamyatnikSortavala 2022
            ul
                li КАТАЛОГ
                li ПРИМЕРЫ РАБОТ 
                li  ЗАКАЗАТЬ СВОЙ ДИЗАЙН
