footer
    .wrapper
        .footer
            .footer-adress
                .footer-img
                p Респ.Карелия, г. Сортавала ул. Ладожская, д 24
            p#question Есть вопросы? Оставьте заявку и мы перезвоним!
            .footer-phone
                a(href="tel:+7 999 345-55-55") +7 (999) 345-55-55
            .form-callback
                form(role='form' method='GET' action='#')
                    input#phone.form-control(type='tel', placeholder='+7 (999) 999-99-99' name='phone')
                    button.btn(type="submit", name="callback") Оставить заявку
            a(href="mailto:") pamyatniksortavala@mail.ru
            
            a#politics(href="#") Политика конфиденциальности
            p#all-rights All rights reserved. PamyatnikSortavala 2022
            nav
                ul.nav
                    li.nav-item#catalog
                        a(href="").nav-link КАТАЛОГ
                    li.nav-item#samples 
                        a(href="").nav-link ПРИМЕРЫ РАБОТ
                    li.nav-item#order 
                        a(href="").nav-link ЗАКАЗАТЬ СВОЙ ДИЗАЙН
                    li.nav-item#contacts 
                    
