header 
    .header
        .wrapper
            .header-wrapper.desktop
                .logo
                    a(href="/") 
                .menu-nav
                    ul.nav
                            li.nav-item
                                a(href="").nav-link О нас
                            li.nav-item
                                a(href="").nav-link Туры
                            li.nav-item
                                a(href="").nav-link Маршруты
                            li.nav-item
                                a(href="").nav-link Услуги
                            li.nav-item 
                                a(href="").nav-link Контакты
                            li.nav-item 
                                a(href="").nav-link Дома
                    .header-location-info
                        .header-logo-img
                            .header-logo-ping    
                            span Респ. Карелия, г. Сортавала
                        a(href="tel:+7 999 345-55-55") +7 (999) 345-55-55

                .menu__btn
                    span
                .btn.header_btn.desktop
                        a(href="№") Забронировать 