header
    .wrapper
        .header
            .header-logo
                
            .upper    
                .upper-text
                    .header-img
                        a(href="#")
                        img(src="/src/img/header-ping.svg", alt="ping")
                    span Респ. Карелия, г. Сортавала
                a(href="tel:+7 999 345-55-55") +7 (999) 345-55-55

            .row-border
            
            nav
                ul.nav
                    li.nav-item#catalog
                        a(href="").nav-link КАТАЛОГ
                    li.nav-item#samples 
                        a(href="").nav-link ПРИМЕРЫ РАБОТ
                    li.nav-item#order 
                        a(href="").nav-link ЗАКАЗАТЬ СВОЙ ДИЗАЙН
                    li.nav-item#contacts 
                        a(href="").nav-link КОНТАКТЫ