header
    .header
        a(href="#")
            img(src="", alt="")
            nav
                ul.nav
                    li.nav-item
                        a(href="").nav-link aaa
                    li.nav-item
                        a(href="").nav-link aaa
                    li.nav-item
                        a(href="").nav-link aaa
                    li.nav-item
                        a(href="").nav-link aaa