.rent.wow
    .four-block-wrapper
        .wrapper
            .text_vector
                h2
                    span.green Аренда 
                        br
                        | домов
                .vector.green
                    p Каждый дом укомплектован всем необходимым для комфортного проживания (стиральная машинка, утюг, гладильная доска, сушилка, полностью оборудованная кухня)
            .info-items-wrapper
                .info-item
                    .info-img.img_one
                        .info-vector-price
                            p от 
                                span.bold 1 600
                                |  ₽
                    .info-text-btn.blue_item
                        h2.info-h2
                            span.blue Дом 1
                        p Домик на 4 человек
                            br 
                            | в районе г. Сортавала
                            br
                            | 3 км от центра города


                        .btn.info__btn.blue_btn
                            a(href="#house_1" data-fancybox data-src="#house_1") Подробнее
                
                .info-item
                    .info-img.img_two
                        .info-vector-price
                            p от 
                                span.bold 3 000
                                |  ₽
                    .info-text-btn.mustard_item
                        h2.info-h2
                            span.mustard Дом 2
                        p Домик на 2 человек
                            br 
                            | в районе г. Сортавала
                            br
                            | 3 км от центра города
                        .btn.info__btn.mustard_btn
                            a(href="#house_2" data-fancybox data-src="#house_2") Подробнее 

                .info-item
                    .info-img.img_three
                        .info-vector-price
                            p от 
                                span.bold 8 000
                                |  ₽
                    .info-text-btn.green_item
                        h2.info-h2
                            span.green Дом 3
                        p Домик на 4 человек
                            br 
                            | в районе г. Сортавала
                            br
                            | 3 км от центра города
                        .btn.info__btn.green_btn
                            a(href="#house_3" data-fancybox data-src="#house_3") Подробнее 
                
                .info-item
                    .info-img.img_four
                        .info-vector-price
                            p ПО ЗАПРОСУ
                                
                    .info-text-btn.orange_item
                        h2.info-h2
                            span.orange Дом 4
                        p Домик на 8 человек
                            br 
                            | в районе г. Сортавала
                            br
                            | 3 км от центра города
                        .btn.info__btn.orange_btn
                            a(href="#house_4" data-fancybox data-src="#house_4") Подробнее 