.routes.wow
    .wrapper
        .wrapper-background 
            .text_vector
                h2
                    span.orange маршруты
                        br
                        | катеров
                .vector.orange
                    p Представляем два самых популярных маршрута прогулок по Ладожским шхерам. Да-да, мы делаем остановки на островах!
            .route-radio-wrapper
                    input(type='radio', name='route-switch', value='left', checked)#left-switch
                    input(type='radio', name='route-switch', value='right')#right-switch
            .route-switcher
                
                .routes-img-wrapper#switch.left
                .routes-text-bg-wrapper
                    .routes-text-wrapper
                        .routes-text-price
                            p.big
                                span.blue 2 000 ₽ 
                            br
                            p.medium с человека в составе группы
                        .routes-text-time
                            p.big
                                span.orange 6 часов
                            br
                            p.medium общее время в путешествии
                        .routes-text-sale            
                            h2
                                span.blue Скидки для детей!
                            
                            .routes-text-sale-bottom-wrapper
                                p.medium Дети до 3 лет — 
                                    span.orange бесплатно
                                    br
                                    | Дети до 10 лет — 
                                    span.orange скидка 50%
                                .route-logo-smileyface
                        .routes-text-safety
                            p.medium Все катера оснащены спасательными жилетами.
                                br
                                span.orange Безопасность – это важно!

            
                    
                   
