.services.wow
    .four-block-wrapper
        .wrapper
            .text_vector
                h2
                    span.blue Наши 
                        br
                        | услуги
                .vector.blue
                    p Проведем экскурсии в самые знаковые места севера Карелии, а так же поможем с трансфером
            .info-items-wrapper
                .info-item
                    .info-img.img_one
                        .info-vector-price
                            p от 
                                span.bold 1 600
                                |  ₽
                    .info-text-btn.blue_item
                        h2.info-h2
                            span.blue Экспедиция на водопады
                        p Экспидиционный тур по древним водопадам. Узнайте их историю и вдохновитесь незабываемой красотой
                        .btn.info__btn.blue_btn
                            a(href="#expedition" data-fancybox data-src="#expedition") Подробнее
                
                .info-item
                    .info-img.img_two
                        .info-vector-price
                            p от 
                                span.bold 3 000
                                |  ₽
                    .info-text-btn.mustard_item
                        h2.info-h2
                            span.mustard Поездка
                                br
                                | в Рускеала
                        p Мраморный каньон в Рускеала уже стал культовым местом в Карелии. Мраморныесклоны ждут вас!
                        .btn.info__btn.mustard_btn
                            a(href="#ruskeala" data-fancybox data-src="#ruskeala") Подробнее 

                .info-item
                    .info-img.img_three
                        .info-vector-price
                            p от 
                                span.bold 8 000
                                |  ₽
                    .info-text-btn.green_item
                        h2.info-h2
                            span.green Индивидуальный
                                br
                                |тур на авто
                        p Бронируйте автомобиль с водителем на 8 человек и вперед покорять просторы северного приладожья
                        .btn.info__btn.green_btn
                            a(href="#auto" data-fancybox data-src="#auto") Подробнее 
                
                .info-item
                    .info-img.img_four
                        .info-vector-price
                            p ПО ЗАПРОСУ
                                
                    .info-text-btn.orange_item
                        h2.info-h2
                            span.orange Трансфер под заказ
                        p Организуем трансфер. Работаем межгород (включая Санкт-Петербург и Петрозаводск)
                        .btn.info__btn.orange_btn
                            a(href="#transfer" data-fancybox data-src="#transfer") Подробнее 