.wrapper
    .service
        .service-text
            .service-text-items
                h2 КОМПЛЕКТ
                h2 ВЫРАВНИВАНИЕ,УСТАНОВКА,
                h2#lined ОБЛАГОРАЖИВАНИЕ
                p Заказывайте комплексное обустройство место под памятник и установку памятника, экономьте время и силы, сделаем все за вас!
                .btn
                    a(href="#") Заказать комплект 
        .service-gallery

            