.wrapper
    .specifies
        .specifies-content
            h2 ОСОБЕННОСТИ НАШИХ 
            h2#lined ПАМЯТНИКОВ
            p Выбирая памятник, мало кто задумывается как долго конструкция будет сохранять свой первоначальный вид. Мы решили эту задачу.
            
            .warranty
                p На все памятники действует гарантия, подробности уточняйте 
                    a(href="tel:+79993455555") 
                        span по телефону.
        .specifies-img
        .specifies-list
            ul
                li Долговечность
                li Не выгорает на солнце
                li Легко чистится водой
                li Не боится влаги