.top-banner-wrapper.wow
    .top-banner
        .wrapper
            .top-text
                h3
                    span.grey Экскурсия на катере
                h1 Путешествие
                    br
                    span.blue по ладожским шхерам
                    br
                    | и 
                    span.orange на валаам
            p.medium Ладожские шхеры — достопримечательность Карелии. Мы разработали уникальный маршрут, позволяющий показать вам настоящую ладогу. Необитаемые острова, памятники природы, остров Валаам и многое другое ждет вас!
            .top-img-wrapper
                .top-img
            .vertical-text.desktop 
                span.blue СОРТАВАЛА, РЕСПУБЛИКА КАРЕЛИЯ