.tours.wow
    .four-block-wrapper
        .wrapper
            .tour_wrapper
                .text_vector
                    h2
                        span.orange Варианты
                            br
                            | туров
                    .vector.orange
                        p Экскурсионные туры на катерах по Ладожским шхерам – это то, что понравится каждому члену вашей семьи или компании друзей!
                .info-items-wrapper
                    .info-item
                        .info-img.img_one
                            .info-vector-price
                                p от 
                                    span.bold 2 000
                                    |  ₽
                        .info-text-btn.blue_item
                            h2.info-h2
                                span.blue Ладожские шхеры
                            p Ладожские шхеры это то, чем гордиться каждый житель Сортавала. Мы обязаны прокатить вас на катере в эту сказку!
                            .btn.info__btn.blue_btn
                                a(href="#ladoga" data-fancybox data-src="#ladoga") Подробнее
                    .info-item
                        .info-img.img_two
                            .info-vector-price
                                p от 
                                    span.bold 3 000
                                    |  ₽
                        .info-text-btn.mustard_item
                            h2.info-h2
                                span.mustard Остров Валаам
                            p Посетите легендарный остров Ладоги. Архитектурный ансамбль монастырей среди природы запомнится надолго.
                            .btn.info__btn.mustard_btn
                                a(href="#valaam" data-fancybox data-src="#valaam") Подробнее 

                    .info-item
                        .info-img.img_three
                            .info-vector-price
                                p от 
                                    span.bold 4 000
                                    |  ₽
                        .info-text-btn.green_item
                            h2.info-h2
                                span.green Ладожские
                                    br
                                    |шхеры и Валаам
                            p Тур в котором вы увидите все лучшее, чем знамениты Ладожские шхеры и остров Валаам.
                            .btn.info__btn.green_btn
                                a(href="#ladval" data-fancybox data-src="#ladval") Подробнее 
                    
                    .info-item
                        .info-img.img_four
                            .info-vector-price
                                p от 
                                    span.bold 12 000
                                    |  ₽
                        .info-text-btn.orange_item
                            h2.info-h2
                                span.orange Индивидуальный тур
                            p Соберите свою компанию и вперед покорять Ладогу. Вы – штурман! Сами выбираете маршрут и остановки.
                            .btn.info__btn.orange_btn
                                a(href="#individual" data-fancybox data-src="#individual") Подробнее 