.wrapper
    .uq-design
        .uq-design-text
            .uq-design-text-items
                h2 СВОЙ ДИЗАЙН
                h2#lined ПАМЯТНИКА
                p Воспользуйтесь нашим конструктором чтобы ввести точные параметры памятника, это быстро и удобно
                .btn
                    a(href="#") Подобрать параметры
        

            