.waterfalls.wow
    .wrapper
        .waterfalls-top
            h1 
                span.green экспедиция
                    br
                    | на 
                span.orange древние
                    br
                    | водопады
            .waterfalls-tag 
                p ОТ 
                    span.bold 1 600
                    |  ₽
                    br
                    | с человека
        .waterfalls-text
            p.medium Высота водопадов 18-метров и 11-метров . Они такие мощные, что даже суровой зимой не замерзают полностью, а дышат и сопротивляются морозу под ледяным панцирем, пробиваясь наружу. 
             span.blue Предлагаем вам увидеть все самим! 