@font-face {
  font-family: 'Futura PT Demi';
  src: local('Futura PT Demi'), local('FuturaPT-Demi'), url('../fonts/FuturaPT-Demi.woff2') format('woff2'), url('../fonts/FuturaPT-Demi.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('../fonts/FuturaPT-Medium.woff2') format('woff2'), url('../fonts/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: local('Futura PT Light'), local('FuturaPT-Light'), url('../fonts/FuturaPT-Light.woff2') format('woff2'), url('../fonts/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SangBleu Sunrise';
  src: local('SangBleu Sunrise'), local('SangBleuSunrise-Regular'), url('../fonts/SangBleuSunrise-Regular.woff2') format('woff2'), url('../fonts/SangBleuSunrise-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT Book';
  src: local('Futura PT Book'), local('FuturaPT-Book'), url('../fonts/FuturaPT-Book.woff2') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura PT';
  src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('../fonts/FuturaPT-Bold.woff2') format('woff2'), url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  display: grid;
  max-width: 160rem;
  grid-template-columns: 63px 11fr;
  grid-template-rows: 49% 2% 49%;
  grid-column-gap: 20px;
  margin-left: 19rem;
  margin-right: 19rem;
  margin-top: 6rem;
  padding-top: 5.5rem;
}
.header-logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-image: url(/src/img/header-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nav {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  list-style: none;
  gap: 4.5rem;
  padding: 0px;
  margin-left: 2rem;
}
.row-border {
  background: #B9836D;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.upper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 2.5rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
}
span {
  font-size: 2rem;
}
.nav-item#contacts {
  text-align: right;
  flex-grow: 20;
}
.nav-item a {
  text-decoration: underline;
  color: #ffffff;
  text-underline-position: under;
  text-decoration-thickness: 0.125rem;
}
.nav-item {
  flex-grow: 1;
}
.upper-text {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.upper a {
  text-decoration: none;
  color: #ffffff;
}
.banner {
  display: flex;
  height: 80rem;
  margin-top: 9rem;
  margin-left: 19rem;
  margin-right: 19rem;
}
.banner .banner-text {
  width: 54rem;
  height: 47rem;
}
.banner .banner-text > p {
  width: 70%;
  height: fit-content;
  margin: inherit;
}
.banner .underline {
  width: 37%;
  height: 1rem;
  background-image: url(/src/img/banner-top-underline.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 19%;
  margin-bottom: 4rem;
}
.banner .banner > h1 {
  font-size: 8rem;
}
.catalog {
  display: grid;
  margin-left: 19rem;
  margin-right: 19rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  align-content: center;
  align-items: center;
  margin-top: 13rem;
  margin-bottom: 14rem;
}
.catalog .catalog-items {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  gap: 2rem;
  margin-top: 6rem;
}
.catalog .btn-secondary {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  align-self: baseline;
  width: 172px;
}
.catalog .catalog-item {
  display: flex;
  position: relative;
  height: 45rem;
  border: 2px solid #B9836D;
  flex-direction: column;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.catalog .catalog-item .btn-secondary {
  width: 192px;
}
.catalog .catalog-item-img {
  position: absolute;
  top: -8rem;
  left: 4rem;
  right: 0rem;
  bottom: 0rem;
}
.catalog p {
  font-family: 'Futura PT';
  font-size: 2.5rem;
  width: 80%;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
.catalog span {
  font-family: 'Futura PT';
  font-size: 3rem;
  font-weight: 500;
  width: 80%;
  margin-top: 0rem;
  color: #B9836D;
  margin-bottom: 2rem;
}
.specifies {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 19rem;
  padding-right: 19rem;
  height: 82rem;
  flex-wrap: wrap;
  background-image: url(/src/img/specifies-img-bg.jpg);
  background-size: cover;
  justify-items: start;
  align-items: center;
}
.specifies-img {
  width: 100%;
  height: 78%;
  background-image: url(/src/img/specifies-img-grave.png);
  background-repeat: no-repeat;
  background-position: top;
  min-width: 47rem;
  align-content: space-around;
}
.specifies-content {
  width: 41.5rem;
  height: 64rem;
}
.warranty {
  display: flex;
  width: 40rem;
  height: 10rem;
  border: 1px dashed #B9836D;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 11.5rem;
}
.warranty a {
  color: #FFF;
}
.warranty p {
  line-height: 2.5rem;
}
.warranty span {
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}
.specifies-list {
  display: flex;
  height: 53rem;
  align-self: center;
  text-align: center;
  width: 100%;
  min-width: 10rem;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.specifies-list ul {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0rem;
  flex-wrap: wrap;
  gap: 12rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
}
.specifies-list li {
  list-style: none;
  line-height: 2rem;
}
.examples {
  display: flex;
  height: 66.5rem;
}
.examples-gallery {
  width: 50%;
  background-image: url(/src/img/examples-gallery-img.png);
}
.examples-text {
  width: 50%;
  background-image: url(/src/img/examples-text-img.png);
  background-repeat: no-repeat;
  display: flex;
  background-position: right bottom;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.examples-text-items {
  width: 55%;
  height: fit-content;
  min-width: 45rem;
  margin: 12rem 13rem;
}
.service {
  display: flex;
  height: 66.5rem;
  background-image: url(/src/img/service-img-bg.png);
}
.service-gallery {
  width: 50%;
  background-image: url(/src/img/service-img-grave.png);
  background-repeat: no-repeat;
  background-position: center;
}
.service-text {
  width: 50%;
  display: flex;
  background-position: right bottom;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}
.service-text p {
  margin-bottom: 5rem;
}
.service-text-items {
  width: 55%;
  height: fit-content;
  min-width: 45rem;
  margin: 10rem 19rem;
  z-index: 1;
}
.service-text-items h2 {
  width: 150%;
  margin-top: 0rem;
}
.about-us {
  display: flex;
  height: 66.5rem;
}
.about-us-gallery {
  width: 50%;
  background-image: url(/src/img/about-us-gallery-img.png);
}
.about-us-text {
  width: 50%;
  display: flex;
  background-position: right bottom;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-us-text-items {
  width: 55%;
  height: fit-content;
  min-width: 45rem;
  margin: 12rem 12rem;
}
.about-us-text-items strong {
  color: #B9836D;
}
.uq-design {
  display: flex;
  height: 66.5rem;
  background-image: url(/src/img/uq-design-img-bg.png);
  background-position-x: -18rem;
}
.uq-design-gallery {
  width: 50%;
}
.uq-design-text {
  width: 100%;
  display: flex;
  background-position: right bottom;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  background-image: url(/src/img/uq-design-img-grave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: right;
}
.uq-design-text p {
  margin-bottom: 9.5rem;
}
.uq-design-text-items {
  width: 35%;
  height: fit-content;
  min-width: 45rem;
  margin: 13rem 19rem;
  z-index: 1;
}
.uq-design-text-items h2 {
  width: 150%;
  margin-top: 0rem;
}
.header-banner-bg {
  background-image: url(/src/img/banner-top-img.png), url(/src/img/header-and-banner-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: right, center;
  height: 92.5rem;
}
.footer {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 2fr 2fr 1fr 2fr;
  max-width: 122rem;
  margin: auto;
  margin-top: 3rem;
}
.footer nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.footer input {
  width: 34rem;
  height: 5.5rem;
  border: 2px solid #B9836D;
  background-color: #1F1F1F;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: 'Futura PT';
  font-style: 'Light';
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 300;
  outline: none;
}
.footer form {
  margin-top: 0.5rem;
  display: flex;
  gap: 2rem;
  justify-content: right;
}
.footer form .btn {
  width: 195px;
}
a[href^="mailto"] {
  margin-left: 1rem;
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: 'Book';
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}
.footer-adress {
  display: flex;
  width: 45rem;
  height: auto;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  margin-left: 1rem;
}
.footer-adress .footer-img {
  width: 5rem;
  height: 5rem;
  background-image: url(/src/img/header-logo.svg);
  background-size: contain;
}
.footer-adress p {
  width: 24rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
p#question {
  font-family: 'Futura PT';
  font-style: 'Book';
  font-size: 3rem;
  font-weight: 400;
  text-align: right;
}
.footer-phone {
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.footer-phone a {
  text-decoration: none;
  color: #B9836D;
  font-family: 'Futura PT';
  font-style: Demi;
  font-size: 5.25rem;
  line-height: 100%;
  font-weight: 500;
}
p#all-rights {
  text-decoration: none;
  font-family: 'Futura PT';
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.5);
  padding: 1rem;
}
a#politics {
  text-decoration: underline;
  text-underline-position: under;
  font-family: 'Futura PT';
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #fff;
  text-align: right;
  margin-right: 17rem;
}
h1 {
  font-family: 'SangBleu Sunrise';
  font-weight: 300;
  line-height: 135%;
  font-size: 6rem;
  margin-bottom: 0rem;
}
h2 {
  font-family: 'SangBleu Sunrise';
  font-weight: 400;
  line-height: 6rem;
  font-size: 4.5rem;
  margin-bottom: 0rem;
}
h2#lined {
  text-decoration-line: underline;
  text-decoration-color: #B9836D;
  text-underline-position: under;
  text-decoration-thickness: 0.125rem;
  margin-top: 0rem;
  margin-bottom: 4.5rem;
}
p {
  font-family: 'Futura PT';
  font-size: 2rem;
  line-height: 3.5rem;
}
html {
  font-size: 8px;
  font-family: 'Futura PT';
  font-weight: 300;
}
body {
  background-color: aquamarine;
  font-size: 16px;
  color: #ffffff;
  background-color: #1F1F1F;
  margin-top: -6rem;
}
.wrapper {
  max-width: 1280px;
  margin: auto;
}
.btn {
  display: flex;
  width: 208px;
  height: 50px;
  background-color: #B9836D;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Futura PT';
  font-weight: 300;
  border: none;
}
.btn > a {
  color: #FDFDFD;
  text-decoration: none;
}
.btn-secondary {
  display: flex;
  width: 171px;
  height: 46px;
  border: 2px solid #B9836D;
  justify-content: center;
  align-items: center;
}
.btn-secondary > a {
  color: #B9836D;
  text-decoration: none;
  font-size: 2rem;
}
::placeholder {
  font-family: 'Futura PT';
  font-style: 'Light';
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  font-weight: 200;
}
