// main: ../../style.less



.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    z-index: 999;
    overflow: hidden;
    display: none;
    background-color: transparent;

    
    .form__btn:hover{
        background-color: #6B7722;
    
    }
    
       
        .form__btn:active{
            background-color: #B0CD00;
    
        }
    

.popup_text_top{
    display: flex;
    justify-content: space-between;
    padding: 3rem;

    h2{
        margin: 0;
        text-transform: none;
    }
    .cross_close{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .cross_close_svg{
            width: 20px;
            height: 20px;
            background-image: url(/src/img/popup_logo_cross.svg);
            background-size:contain ;
            cursor: pointer;
        }
    p{
        font-size: 2rem;
        font-weight: bold;
        text-transform: lowercase;
    }
    }
}
.popup-item{
    position: static;
    margin: auto;
    padding: 3rem;
    width: 974px;
    height: fit-content;
    border-radius: 16px;
    background-color: @color-white;
    overflow-x: hidden;
    box-sizing: border-box;

    
    p.medium#straight{
        font-size: 2rem;
        line-height: 3.25rem;
        padding-left: 2rem;
        margin-left: 4rem;
        margin-right: 3rem;
        border-left: 4px solid @color-blue ;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    
   

}

.popup-slide-wrapper{
    border-radius: 16px;
    
}

}








@media (max-width:@tablet)
{
    .popup{
    width: 100%;
    height: 100%;
    display: none;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

    .popup-item{
        width: 100%;
        padding: 0;
    

    p.medium#straight{
        font-size: 2rem;
        line-height: 3rem;
        padding-left: 1rem;
        margin-left: 1rem;
        margin-right: 2rem;
        border-left: 4px solid @color-blue;
        margin-top: 4rem;
    }
    }

.popup-bg-wrapper{
    background-image: url;
}

.popup_text_top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    h2{
        width: 50%;
        margin: 0;
    }
    .cross_close{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        .cross_close_svg{
            width: 20px;
            height: 20px;
            background-image: url(/src/img/popup_logo_cross.svg);
            background-size:contain ;
            cursor: pointer;
        }
        p{
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: lowercase;
        }
}
}

.routes-text-bg-wrapper{
    height: fit-content;
    .routes-text-wrapper{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 2rem;

        .routes-text-time{
            order: 1;
            height: 86px;
            align-self: flex-end;
            p.big{
                font-size: 9rem;
            }
            p.medium{
                font-size: 2rem;
            }
        }

        .routes-text-price{
            align-self: flex-end;
            order: 2;
            height: 86px;
            p.big{
                font-size: 9rem;
            }
            p.medium{
                font-size: 2rem;
            }
        }

        .routes-text-safety{
            order: 3;
            align-self: flex-start;
            width: 100%;
            p.medium{
                text-align:left ;
                font-size: 3rem;
            }
        }

        .routes-text-sale{
            order: 4;
            align-self: flex-start;
            width: 100%;
            h2{
                text-align: left;
                font-size: 4rem;
                text-transform:none ;
            }
            span.orange{
                font-weight: 700;
            }
            p.medium{
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }
}

.book-me{
    height: 455px;
    padding: 2.5rem;
    width: auto;
    margin: 2rem 2rem;
    box-sizing: border-box;
    
       
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .book-item{
        width: 100%;
        height: 104px;
    }
    .book-item::after
    {display: none;}
    .book-date{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1frs);
        width: 100%;
        height: 140px;

        .date-wrapper{
            grid-column-start: 1;
            grid-column-end: 5;
        }

        input#time19{
            grid-column-start: 2;
            grid-row-start: 3;
        }
        input#time21{
            grid-column-start: 3;
            grid-row-start: 3;
        }
        
        
    }
    .book-contact{
        width: 100%;
        margin: 0;;
    }
    
}
}
}




