.popup#house_4
    .popup-item
        .wrapper-popup
            .popup-bg-wrapper#houses
                .popup_text_top
                        h2
                            span.green Дом №4
                        .cross_close
                            .cross_close_svg#close_me(data-fancybox-close)
                            p Вместимость 
                                span.orange 6-8 человек
                .swiper-arrows-wrapper-popup
                    .swiper-popup#house_4
                        .swiper-wrapper
                            .swiper-slide                
                                .popup-slide-wrapper#house_4_1
                            .swiper-slide                
                                .popup-slide-wrapper#house_4_2
                            .swiper-slide                
                                .popup-slide-wrapper#house_4_3
                            .swiper-slide                
                                .popup-slide-wrapper#house_4_4
                            .swiper-slide                
                                .popup-slide-wrapper#house_4_5
                    .swiper-pagination#popup_house_4
                    .swiper-button-prev#popup_house_4
                    .swiper-button-next#popup_house_4
                .routes-text-bg-wrapper#houses
                    .houses-text-wrapper
                        .houses-list-rules
                            h3 Правила размещения
                            ul.houses-nav
                                li.houses-nav-item#logo_kid можно с детьми любого возраста
                                li.houses-nav-item#logo_smoking курение разрешено в специально
                                    br
                                    | отведенных местах
                                li.houses-nav-item#logo_animals можно с питомцами
                                li.houses-nav-item#logo_party без вечеринок и мероприятий
                                li.houses-nav-item#logo_deposit
                                    span.orange 5000₽ 
                                    | страховой возвратный депозит
                        .houses-list-facilities
                            h3 Основные удобства
                            ul.houses-nav
                                li.houses-nav-item#logo_wifi беспроводной интернет Wi-Fi
                                li.houses-nav-item#logo_sheet постельное белье
                                li.houses-nav-item#logo_tv телевизор
                                li.houses-nav-item#logo_kettle электрический чайник
                                li.houses-nav-item#logo_hairdryer фен
                                li.houses-nav-item#logo_fridge холодильник
                                li.houses-nav-item#logo_towels полотенца
                                li.houses-nav-item#logo_microwave микроволоновка
                                li.houses-nav-item#logo_iron утюг
                                li.houses-nav-item#logo_fire газовый гриль
                                li.houses-nav-item#logo_lake озеро рядом
                                li.houses-nav-item#logo_tree лес рядом
            .book-me-house
                form#houses(action="post")
                    .book-item
                        .select-wrapper
                            select#houses
                                each val in ["1 человек", "2 человека", "3 человека", "4 человека"]
                                    option= val
                        label(for="#houses") Кол-во человек
                        p Дом расчитан на 4 человека.
                            br 
                            | Наш менеджер ответит на ваши вопросы

                    .book-date-houses
                        input#date_checkin(type='date', name='book-day-checkin')
                        label#date_checkin_label(for="dateCheckin") Дата заезда
                        input#date_checkout(type='date', name='book-day-checkout')
                        label#date_checkout_label(for="dateCheckout") Дата выезда
                        p Удобное время заселения
                        input(type='radio', name='book-time', value='morning')#timeMorning
                        input(type='radio', name='book-time', value='afternoon', checked)#timeAfternoon
                        input(type='radio', name='book-time', value='evening')#timeEvening
                    .book-contact
                        input(type="text", name='book-name')#name
                        label(for="#name") Имя
                    .book-contact
                        input(type="tel", name='book-tel')#tel
                        label(for="#tel") Телефон
                    span.grey.desktop 
                        a(href="#") Оставляя заявку вы соглашаетесь
                            br
                            | с политикой конфидециальности
                    button(class="btn form__btn" type="submit" value="submit")
                        p Забронировать
