.popup#ladoga
    .popup-item
        .wrapper-popup
            .popup-bg-wrapper#tour
                .popup_text_top
                        h2
                            span.blue Ладожские шхеры
                        .cross_close
                            .cross-wrapper
                                .cross_close_svg#close_me(data-fancybox-close)
                            p Экскурсия на катере
                .swiper-arrows-wrapper-popup
                    .swiper-popup#ladoga
                        .swiper-wrapper
                            .swiper-slide                
                                .popup-slide-wrapper#ladoga_1
                            .swiper-slide                
                                .popup-slide-wrapper#ladoga_2
                            .swiper-slide                
                                .popup-slide-wrapper#ladoga_3
                            .swiper-slide                
                                .popup-slide-wrapper#ladoga_4
                            .swiper-slide                
                                .popup-slide-wrapper#ladoga_5
                    .swiper-pagination#popup_ladoga
                    .swiper-button-prev#popup_ladoga
                    .swiper-button-next#popup_ladoga
                p.medium#straight Прогулка по Ладожским шхерам -  занимает по времени 2 часа расстояние проежаем около 40км делаем несколько остановок на воде в живописных местах (дача винтера, отвесные скалы  о. Хавус, о.Карнетсари), далее высадка и прогулка по о.Хонкасало(крыша ладоги) 30-40 мин.
                .routes-text-bg-wrapper
                            .routes-text-wrapper
                                .routes-text-price
                                    p.big
                                        span.blue 2 000 ₽ 
                                    br
                                    p.medium с человека в составе группы
                                .routes-text-time
                                    p.big
                                        span.orange 2 часа
                                    br
                                    p.medium общее время в путешествии
                                .routes-text-sale            
                                    h2
                                        span.blue Скидки для детей!
                                    
                                    .routes-text-sale-bottom-wrapper
                                        p.medium Дети до 3 лет — 
                                            span.orange бесплатно
                                            br
                                            | Дети до 10 лет — 
                                            span.orange скидка 50%
                                        .route-logo-smileyface
                                .routes-text-safety
                                    p.medium Все катера оснащены спасательными жилетами.
                                        br
                                        span.orange Безопасность – это важно!
            .book-me
                form(action="post")
                    .book-item
                        .select-wrapper
                            select#tour
                                each val in ["1 человек", "2 человека", "3 человека", "4 человека", "5 человека", "6 человек", "7 человек", "8 человек", "9 человек", "10 человек"]
                                    option= val
                        label(for="#tour") Кол-во человек
                        p Катер вмещает до 10 человек, 
                            br 
                            | возможна индивидуальная бронь

                    .book-date
                        .date-wrapper
                            input#date(type='date', name='book-day')
                            label(for="#date") Дата и время 
                        input(type='radio', name='book-time', value='10:00')#time10
                        input(type='radio', name='book-time', value='12:00', checked)#time12
                        input(type='radio', name='book-time', value='15:00')#time15
                        input(type='radio', name='book-time', value='17:00')#time17
                        input(type='radio', name='book-time', value='19:00')#time19
                        input(type='radio', name='book-time', value='21:00')#time21
                    .book-contact
                        input(type="text", name='book-name')#name
                        label(for="#name") Имя
                    .book-contact
                        input(type="tel", name='book-tel')#tel
                        label(for="#tel") Телефон
                    span.grey.desktop 
                        a(href="#") Оставляя заявку вы соглашаетесь
                            br
                            | с политикой конфидециальности
                    button(class="btn form__btn" type="submit" value="submit")
                        p Забронировать