- var pageTitle = 'Undertaking'

doctype html
html(lang="ru")
    head
        title=pageTitle
        link(rel="stylesheet", href="../src/styles/style.css")
    body 
        include modules/header-and-banner
        
        include modules/catalog
        include modules/specifies
        include modules/examples
        include modules/service
        include modules/about-us
        include modules/uq-design
        include modules/footer

        
    //
       script(src="../dist/main.js")